<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GestVAEcls.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="CSGESTVAE" connectionString="Data Source=ICARE;Initial Catalog=GESTVAE;User ID=gestvae;Password=gestvae#123;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
    <add name="CSGESTVAEDEV" connectionString="Data Source=(localdb)\V11.0;Initial Catalog=GESTVAE;User ID=gestvae;Password=gestvae#123;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
    <add name="CSGESTVAETST" connectionString="Data Source=(localdb)\V11.0;Initial Catalog=GESTVAEPRD;User ID=gestvae;Password=gestvae#123;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
    <add name="CSGESTVAEPP" connectionString="Data Source=FORTUNA;Initial Catalog=GESTVAE;User ID=gestvae;Password=gestvae#123;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <applicationSettings>
    <GestVAEcls.Properties.Settings>
      <setting name="NomDiplomeDefaut" serializeAs="String">
        <value>CAFDES</value>
      </setting>
    </GestVAEcls.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
