<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GestVAE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="CSGESTVAE" connectionString="Data Source=ICARE;Initial Catalog=GESTVAE;User ID=gestvae;Password=gestvae#123;MultipleActiveResultSets=true"
      providerName="System.Data.SqlClient" />
    <add name="CSGESTVAEDEV" connectionString="Data Source=BUREAU-DELL\SQLEXPRESS;Initial Catalog=GESTVAE;User ID=gestvae;Password=gestvae#123;MultipleActiveResultSets=true"
      providerName="System.Data.SqlClient" />
    <add name="CSGESTVAETST" connectionString="Data Source=BUREAU-DELL\SQLEXPRESS;Initial Catalog=GESTVAEPRD;User ID=gestvae;Password=gestvae#123;MultipleActiveResultSets=true"
      providerName="System.Data.SqlClient" />
    <add name="CSGESTVAEPP" connectionString="Data Source=FORTUNA;Initial Catalog=GESTVAE;User ID=gestvae;Password=gestvae#123;MultipleActiveResultSets=true"
      providerName="System.Data.SqlClient" />
    <add name="GestVAE.Properties.Settings.CSGESTVAE" connectionString="Data Source=ICARE;Initial Catalog=GESTVAE;User ID=gestvae;Password=gestvae#123#;MultipleActiveResultSets=true"
      providerName="System.Data.SqlClient" />
    <add name="GestVAE.Properties.Settings.CSGESTVAEPP" connectionString="Data Source=FORTUNA;Initial Catalog=GESTVAE;User ID=gestvae;Password=gestvae#123#;MultipleActiveResultSets=true" />
    <add name="GestVAE.Properties.Settings.CSGESTVAEDV" connectionString="Data Source=(localdb)\V11.0;Initial Catalog=GESTVAE;User ID=gestvae;Password=gestvae#123#;MultipleActiveResultSets=true" />
  </connectionStrings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="GESTVAELOG" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\temp\GestVAE\GestVAE.log"/>
      </listeners>
    </trace>
  </system.diagnostics>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <applicationSettings>
    <GestVAE.Properties.Settings>
      <setting name="NomDiplomeDefaut" serializeAs="String">
        <value>CAFDES</value>
      </setting>
      <setting name="DelaiEnvoiL1" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="DelaiReceptionL1" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="DelaiJuryL1" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="DelaiValidite" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="DelaiDepotRecours" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="NUMVERSION" serializeAs="String">
        <value>V20200428</value>
      </setting>
    </GestVAE.Properties.Settings>
  </applicationSettings>
</configuration>
